@layout MainLayout
@page "/fetchdata"
@using KLLogisticsWebBlazor.Models;
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (userapps == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>USERID</th>
                <th>USERNAME</th>
                <th>EMAIL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Fetch in userapps)
            {
                <tr>
                    <td>@Fetch.Userid</td>
                    <td>@Fetch.Username</td>
                    <td>@Fetch.Email</td>
                </tr>
            }
        </tbody>
    </table>
}




@code {
    private Top10user[]? userapps;

    protected override async Task OnInitializedAsync()
    {
        userapps = await Http.GetFromJsonAsync<Top10user[]>(@"http://localhost:1899/api/userapps/GetTop10User/");
    }


}
