@layout MainLayout
@page "/QR&Page"
@inject IJSRuntime jsRuntime
@inject HttpClient Http
@inject NavigationManager Navigation

@using BlazorBarcodeScanner.ZXing.JS

@*<BlazorBarcodeScanner.ZXing.JS.BarcodeReader Title="Scan Barcode from Camera"
                                             StartCameraAutomatically="true"
                                             ShowStart="true"
                                             ShowReset="true"
                                             ShowVideoDeviceList="true"
                                             VideoWidth="300"
                                             VideoHeight="200" 
                                             OnBarcodeReceived="LocalReceivedBarcodeText" 
                                             
                                             />*@
    <div class="card" >
        <BlazorBarcodeScanner.ZXing.JS.BarcodeReader 
        Title="SCAN BARCODE HERE"
        ShowStart="false"
        ShowReset="false"
        ShowToggleTorch="false"
        StartCameraAutomatically ="true"
        VideoWidth="500"
        VideoHeight="400"
        OnBarcodeReceived="LocalReceivedBarcodeText" 
        />
    </div>
@code{
    private string LocalBarcodeText = "";
    public static string? Hasil { get; set; }
    private async Task LocalReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        LocalBarcodeText = args.BarcodeText;
        StateHasChanged();
        Hasil = args.BarcodeText;

        await jsRuntime.InvokeVoidAsync("open", Hasil, "_blank");

    }
}
